/*           _   _ 
     /\     | | | |
    /  \    | | | |
   / /\ \   | | | |
  / ____ \  | | | |
 /_/    \_\ |_| |_|
                   
                   */

* {
	-moz-box-sizing: border-box; 
	box-sizing: border-box;
}

body{
	margin: 0;
}


/*______                   _   
 |  ____|                 | |  
 | |__      ___    _ __   | |_ 
 |  __|    / _ \  | '_ \  | __|
 | |      | (_) | | | | | | |_ 
 |_|       \___/  |_| |_|  \__|
                               
                               */

@font-face { /*Pour le Footer*/
    font-family: 'sinkin_sans500_medium';
    src: url('ressources/font/footer/SinkinSans-500Medium-webfont.eot');
    src: url('ressources/font/footer/SinkinSans-500Medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('ressources/font/footer/SinkinSans-500Medium-webfont.woff2') format('woff2'),
         url('ressources/font/footer/SinkinSans-500Medium-webfont.woff') format('woff'),
         url('ressources/font/footer/SinkinSans-500Medium-webfont.ttf') format('truetype'),
         url('ressources/font/footer/SinkinSans-500Medium-webfont.svg#sinkin_sans500_medium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'dustismoregular';
    src: url('ressources/font/menu_1/menu_resto_1/dustismo-webfont.eot');
    src: url('ressources/font/menu_1/menu_resto_1/dustismo-webfont.eot?#iefix') format('embedded-opentype'),
         url('ressources/font/menu_1/menu_resto_1/dustismo-webfont.woff2') format('woff2'),
         url('ressources/font/menu_1/menu_resto_1/dustismo-webfont.woff') format('woff'),
         url('ressources/font/menu_1/menu_resto_1/dustismo-webfont.ttf') format('truetype'),
         url('ressources/font/menu_1/menu_resto_1/dustismo-webfont.svg#dustismoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: 'devonshire-regular';
	src: url('ressources/font/menu_1/nom_resto_1/Fonts/devonshire-regular.ttf') format('truetype');
}

@font-face {
	font-family: 'CroissantOne-Regular';
	src: url('ressources/font/menu_2/nom_resto_2/CroissantOne-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'DancingScript-Regular';
	src: url('ressources/font/menu_3/nom_resto_3/DancingScript-Regular.otf') format("opentype");
}

@font-face {
	font-family: 'worstveldsling';
	src: url('ressources/font/menu_3/menu_resto_3/Fonts/worstveldsling.ttf') format('truetype');
}

@font-face {
	font-family: 'KaushanScript-Regular';
	src: url('ressources/font/menu_4/nom_resto_4/KaushanScript-Regular.otf') format("opentype");
}

/*_    _                      _               
 | |  | |                    | |              
 | |__| |   ___    __ _    __| |   ___   _ __ 
 |  __  |  / _ \  / _` |  / _` |  / _ \ | '__|
 | |  | | |  __/ | (_| | | (_| | |  __/ | |   
 |_|  |_|  \___|  \__,_|  \__,_|  \___| |_|   
                                              
                                              */

header{
	background-color: #579c87;
	color: #fdcb46;
	text-align: center;
	height: 6em;
	display: flex;
	align-items: center;
}

header img{
  	padding: 1em;
  	width: 14em;
  	margin: auto;
}


/*______                   _                 
 |  ____|                 | |                
 | |__      ___     ___   | |_    ___   _ __ 
 |  __|    / _ \   / _ \  | __|  / _ \ | '__|
 | |      | (_) | | (_) | | |_  |  __/ | |   
 |_|       \___/   \___/   \__|  \___| |_|   
                                             
                                             */

footer{
	display: flex;
	justify-content: space-between;
	background-color: #579c87;
	color: #fdcb46;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 5em;
}

footer p{
	font-family: 'sinkin_sans500_medium';
	padding: 1em;
	width: 15em;
	text-align: center;
	font-size: 1.3em;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}