h1{
	font-family: 'altehaasgroteskregular';
	text-align: center;
	margin: 1.5em 0 1em 0;
	font-size: 1.6em;
}

img{
	width: 10%;
	margin: auto;
	margin-top: 2em;
}

#menu{
	background: #fcdfdb;
	margin: 1em 25.5em 10em 25.5em;
	padding-bottom: 4em;
	display: flex;
	flex-direction: column;
	color: #3D1319;
	box-shadow: 0 0 10px 1px #E0E0E0;
}

h2{
	font-weight: lighter;
	text-align: center;
	font-size: 3em;
	margin: 0;
	margin-bottom: 15px;
	font-family: 'devonshire-regular';
}

h3{
	text-align: center;
	font-size: 1.7em;
	font-family: 'segoePrint';
}

#titre_entrée, #titre_plat, #titre_dessert{
	display: flex;
	margin: 0;
}

.menu-1-icone-left{
	width:30%;
    height:15px;
    margin-top: 4.5%;
    margin-bottom: 0;
}

.menu-1-icone-right{
	width:30%;
    height:10px;
    margin-top: 4.5%;
    margin-bottom: 0;
}

#entrée, #plat, #dessert{
	font-family: 'segoePrint';
	margin: 0 9% 0 9%;
}

#entrée div{
	display: flex;
	justify-content: space-between;
	font-size: 1.1em;
}

#entrée p{
	margin-top: 0;
	margin-bottom: 20px;
}

#plat div{
	display: flex;
	justify-content: space-between;
	font-size: 1.1em;
}

#plat p{
	margin-top: 0;
	margin-bottom: 20px;
}

#dessert p{
	margin-top: 0;
	margin-bottom: 20px;
	font-size: 1.1em;
}

.price{
	font-weight: bold;
	letter-spacing: 3px;
}

h4{
	margin: auto;
	margin-top: 1em;
	text-align: center;
	font-size: 1.9em;
	font-weight: lighter;
	font-family: 'devonshire-regular';
}

h4 img{
	width: 10%;
	margin: auto;
	position: relative;
	bottom: -0.3em;
}

.dot{
	display: none;
}

/*__  __              _   _                                         _              
 |  \/  |            | | (_)                                       (_)             
 | \  / |   ___    __| |  _    __ _    __ _   _   _    ___   _ __   _    ___   ___ 
 | |\/| |  / _ \  / _` | | |  / _` |  / _` | | | | |  / _ \ | '__| | |  / _ \ / __|
 | |  | | |  __/ | (_| | | | | (_| | | (_| | | |_| | |  __/ | |    | | |  __/ \__ \
 |_|  |_|  \___|  \__,_| |_|  \__,_|  \__, |  \__,_|  \___| |_|    |_|  \___| |___/
                                         | |                                       
                                         |_|                                       */

@media screen and (max-width: 767px)/*Mobile*/
{
	h2{
		font-size: 2em;
	}

	#menu{
		margin: 1em 1em 6em 1em; 
	}

	.menu-1-icone-left{
		height: 10px;
	}

	.menu-1-icone-right{
		height: 6px;
		margin-top: 6%;
	}

	h3{
		font-size: 1.2em;
		margin: 0;
	}

	#entrée div, #plat div, #dessert{
	display: flex;
	flex-direction: column;
	font-size: 0.8em;
	text-align: center;
	}

	.dot {
	height: 10px;
	width: 10px;
	background-color: #3D1319;
	border-radius: 50%;
	display: inline-block;
	margin: auto;
	margin-bottom: 1em;
	margin-top: 2em;
	}

	#titre_entrée, #titre_plat, #titre_dessert{
		justify-content: center;
	}
}

@media screen and (min-width: 768px) and (max-width: 1199px)/*tablette*/
{
	#menu{
		margin: 1em 1em 8em 1em; 
	}
}


@media screen and (min-width: 2000px)/*Ordi 4K*/
{
	#menu{
		margin: 2em 45em 8em 45em; 
	}
}

