.btn 
{
    background: #011c37;
    color: #15DEA5;
    font-size: 3rem;
    cursor: pointer;
    padding: 1.85rem 3rem;
    border-radius: 10rem;
    transform: scale(1);
    text-align: center;
    width: 50%;
    margin: auto;
    margin-top: 50%;
    transition: transform 200ms;
}

.btn:hover
{
    transform: scale(1.25);
}


/*

- Pour créer une transition, on a besoin de plusieurs informations :
    une propriété CSS à modifier ;
    une valeur initiale pour votre propriété CSS ;
    une valeur finale pour cette même propriété ;
    une durée ;
    un événement pour déclencher votre transition.

- La fonction scale(); de la propriété transform: permet de modifier la taille d'un élément selon la valeur entre 0% et 100% qui est la taille de base ;
- la transformation se produit avec une pseudoclass comme ":hover" ;
- La prorpiété "transition: " permet d'indiquer au navigateur qu'un changement va se passer sur la cible
- On peut définir le temps que va prendre cette transition mais vaut mieux éviter les transitions de plus de 0.2ms pour une interface que l'on doit utiliser.
- "cursor: pointer;" permet de forcer l'apparition d'un pointeur de selection
*/