section{
	margin-bottom: 8%;
	font-family: 'sinkin_sans500_medium';
	text-align: center;
}

h1{
	text-align: center;
	font-size: 200%;
	margin-bottom: 2em;
	text-decoration: underline;
}

h2{
	margin-left: 1em;
	font-size: 100%
}

section p{
	margin: 3em 10em 3em 10em;
	color: gray;
}

@media screen and (max-width: 767px)/*Mobile*/
{
	section p{
		margin: 1px 25px 20px 25px;
	}

	section{
		margin-bottom: 90px;
	}
}
